#array{display:flex;height: auto;align-items: flex-end;}
#button-5{background-color: dodgerblue;color: white;}
.nodediv{
    color:white;
    padding:10px;
    margin:5px;
    background-color:coral;
}
